.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    box-sizing: border-box;
}

.nav-header{
    padding-top: 3rem;
    width: 156px;
    display: flex;
    justify-content: space-around;
    background-color: black;
}
.icone-header-usuario{
    padding-top: 3rem;
    justify-self: flex-end;
    width: 20px;
    height: 20px;
}

.none{
    display: none;
}

.logo-header{
    display: none;
}

.icone-usuario{
    width: 40px;
    height: 40px;
}

@media  (min-width:768px) {
    .header{
        justify-content: space-between;
    }
    .logo-header{
        width: 128px;
        height: 30px;
        display: block;
        justify-self: flex-start;
        
    }
    .nav-header{
        justify-self: left;
        width: 304px;
        justify-content: space-around;
        
       
    }
    .icone-usuario{
        width: 48px;
        height: 48px;
        margin-right: 6%;
    }
}


@media  (min-width:1440px) {
    .icone-usuario{
        margin-right: 174px;
        width: 64px;
        height: 64px;
    }
    .nav-header{
        margin-left: 100px;
    }
}

.div-login-btn{
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2px;
    position: absolute;
    top: 50px;
    right: 200px;
    
    
}

.login-btn {
    font-size: 15px;
    border: none;
    border-radius: 20px;
    color: #000;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20px;
    background: #fff;
}

.div-login-btn2{
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2px;
    position: absolute;
    top: 50px;
    right: 100px;


}
.login-btn2 {
font-size: 15px;
border: none;
border-radius: 20px;
color: #000;
line-height: 1.2;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 20px;
background: #fff;
}